.tag {
    background: white;
    box-shadow: 4px 4px 3px rgb(190, 190, 190) inset;
    border-radius: 13px;
}
.tag > h3 {
    color: black;
    font-size: 14px;
    margin: auto;
    padding: 4px 12px;
}