.card {
    border: 1px solid white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 5px 5px;
    text-align: center;
    cursor: pointer;
}
  
.card > h2 {
    font-size: 32px;
    border-left: 6px solid deeppink;
}
  
.card > img {
    border-radius: 10px;
}

.infos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}