.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 5px 5px;
    text-align: center;
    cursor: pointer;
    width: 300px
}
  
.card > h2 {
    font-size: 32px;
    border-left: 6px solid deeppink;
}
  
.card > img {
    border-radius: 10px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
    max-width: 300px;
    justify-content: center;
}